@font-face {
    font-family: 'ProximaBold';
    src: url(../fonts/ProximaNovaBold.otf);
}
@font-face {
    font-family: 'Proxima';
    src: url(../fonts/ProximaNovaRegular.otf);
}
@font-face {
    font-family: Helvetica;
    src: url(../fonts/HelveticaNeue.ttf);
}
@font-face {
    font-family: Myriad;
    src: url(../fonts/MyriadPro.otf);
}

.header {
	border-bottom: 1px solid #edeeee;
	padding: 10px 0 5px;
}
.logo {
	display: inline-block;
}
.title-wrapper {
	padding-left: 65px;
}
.title {
	display: inline-block;
	font-size: 35px;
	font-family: "Myriad";
	vertical-align: top;
	margin: 60px 0 0 100px;
	.date {
		font-family: "Helvetica";
		color: #4090db;
		font-size: 15px;
		padding: 10px;
		border: 1px solid #4090db;
		border-radius: 5px;
		margin-left: 20px;
		vertical-align: middle;
	}
	.stat {
		font-size: 17px;
		font-family: "Proxima";
		margin-right: 60px;
	}
}
.campaign {
	clear: both;
	margin: 50px 0;
	.campaign-title {
		font-size: 24px;
		line-height: 45px;
	}
	.campaign-table {
		padding: 0 55px;
		border: 1px solid #dddddd;
		table {
			width: 100%;
			border-collapse: collapse;
			tr {
				
				th {
				text-align: left;
			
				}
				td, th {
					width: 28%;
					border-bottom: 1px solid #dddddd;
					padding: 1% 4%;
				}
				td:last-child, th:last-child {
					width: 16%;
				}
			}
			tr:first-child th {
				padding: 4% 4% 2%; 
			}
			tr:last-child {
				td, th {
					border-bottom: none;
				}
			}
			
		}
	}
	.date-group {
		border: 1px solid #cccccc;
		border-radius: 5px;
		background: #ebebeb;
		background-image: url("../images/icon-date.png");
		background-repeat: no-repeat;
		background-position: 97%;
		overflow: hidden;

		.date {
			// box-shadow: inset 0 1px 1px 0 rgba(1, 1, 1, 0.15);
			border: none;
			background: #fff;
			width: 63%;
			height: 33px;
			padding: 10px;
		}
		.date-clear {
			width: 32px;
			height: 32px;
			border: none;
			border-right: 1px solid #cccccc;
			border-left: 1px solid #cccccc;
			background: #ebebeb;
			cursor: pointer;
			vertical-align: top;
		}
	}
}
.item {
	position: relative;
	z-index: 1;
	margin-bottom: 30px;
	font-weight: bold;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 5px;
		z-index: 2;
		background-color: black;
		opacity: 0.5;
	}
	img {
		width: 100%;
	}
	.item-text {
		position: absolute;
		top: 40%;
		left: 10%;
		width: 100%;
		color: white;
		z-index: 10;
		table {
			width: 90%;
			td {
				width: 30%;
				&:first-child {
					width: 40%;
				}
			}
		}
	}
	.item-upload {
		position: absolute;
		z-index: 10;
		bottom: 7%;
		text-align: center;
		color: white;
		width: 100%;
	}
}

.icon-play:before {
	font-family: FontAwesome;
		content: '\f04b';
		margin-right: 5px;
	}
	.icon-heart:before {
		font-family: FontAwesome;
		content: '\f004';
		margin-right: 5px;
	}
	.icon-comment:before {
		content: '';
		display: inline-block;
		width: 17px;
		height: 17px;
		margin-right: 5px;
		background: url('../images/icon-comment.png');
	}
	.item-video {
		position: relative;
	}
	.item-video:before {
		content: '';
		position: absolute;
		width: 50px;
		height: 50px;
		z-index: 20;
		top: 10px;
		right: 5px;
		background: url('../images/icon-video.png') no-repeat;
	}
	.loadmore {
		text-align: center;
		margin: 59px 0;
	}
	.btn {
		width: 124px;
		text-align: center;
		margin-top: 11px;
	}
.btn-primary {
	background-color: transparent;
	color: #000000;
	font-size: 12px;
	text-transform: uppercase;
	border-color: #000000;
}