$container-width: 940px;
$grid-gutter: 15px;
$font-size-base: 17px !default;
$font-family-base: Proxima, sans-serif;

$btn-color: #fff;
$btn-bg: #4090db;
$btn-border: 1px solid $btn-bg;
$btn-border-radius: 20px;
$btn-padding: 5px 20px;
$btn-color-hover:  $btn-bg;
$btn-bg-hover: $btn-color;
